@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.button {
		@apply p-2 text-xs md:text-sm bg-gradient-to-b border-blue-800 from-blue-500 to-pink-700 rounded-md outline-none active:from-blue-600 active:scale-[0.98];
	}

	.background {
		@apply bg-gradient-to-tr
    from-green-500
    via-red-500
    to-yellow-500
    background-animate;
	}
	.background-animate {
		background-size: 400%;

		-webkit-animation: AnimationName 3s ease infinite;
		-moz-animation: AnimationName 3s ease infinite;
		animation: AnimationName 3s ease infinite;
	}

	@keyframes AnimationName {
		0%,
		100% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		75% {
			background-position: 25% 75%;
		}
		25% {
			background-position: 75% 25%;
		}
	}
}
